*{padding: 0;margin: 0;border: 0;}
/*обращение ко всем тегам, снимаем стандартные параметры тегам(у каждого тега свои параметры)*/
*,*:before, *:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*убираем линии обводки у некоторых браузеров*/}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
/*уравнивает поведеине шрифтов и элементов для разных браузеров, запрещает самовольное увелечение шрифта на айфонах*/
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}
body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}
.container{
    max-width: 1180px;
    margin: 0px auto;

}
.content{
    flex: 1 1 auto;
}

.hi{
    background-color: #445162;
}
.hi__row{
    display: flex;
    padding: 50px 0;
    justify-content: space-between;
}
.hi__body{
    color: #fff;
    padding: 0px 30px 0px 0px;
}
.hi__title{
    font-size: 60px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
    margin: 0px 0px 38px 0px;
}

.hi__list{

}
.hi__list li{
    background: url("../img/check.png") 0 1px no-repeat;
    font-size: 20px;
    line-height: 22px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
    padding: 0px 0px 0px 36px;
    margin: 0px 0px 15px 0px;
}
.hi__list li:last-child{
    margin: 0;
}
.hi__image{

}
.what{
    padding: 50px 0;
}
.what__row{
    display: flex;
}
.what__image{
    flex: 0 0 430px;
}
.what__body{
    flex: 1 1 auto;
    padding: 0px 0px 0px 38px;
}

.what__image img{
    max-width: 100%;
}

.title{
    font-size: 30px;
    color: #445162;
    line-height: 36px;
}
.what__title{
    margin: 0px 0px 33px 0px;
}
.text1{

}
.text1 p{
    color: #333333;
    font-size: 16px;
    line-height: 24px;
    margin: 0px 0px 25px 0px;
}
.footer{
    background-color: #f5f5f5;
}
.footer__row{
    display: flex;
    height: 65px;
    justify-content: center;
    align-items: center;
}
.footer__text{
    color: #445162;
    font-size: 12px;
    letter-spacing: 0.3px;
}





